In [17]:
#Initialization
import pandas as pd 
import matplotlib.pyplot as plt


#Read Advanced.csv
full_df = pd.read_csv('Advanced.csv', sep = ',')
college_df = pd.read_csv('nba_college.csv', sep=',')
player_df = pd.read_csv('all_seasons.csv', sep=',')

#lg is league
#tm is team
#pos is position
display(full_df)
display(college_df)
display(player_df)

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,tov_percent,usg_percent,ows,dws,ws,ws_48,obpm,dbpm,bpm,vorp
0,31136,2024,5025,A.J. Green,NaN,SG,24.0,2,NBA,MIL,...,0.0,12.8,0.0,0.0,0.0,0.064,-3.2,-3.1,-6.3,0.0
1,31137,2024,5027,AJ Griffin,NaN,SF,20.0,2,NBA,ATL,...,16.7,14.8,0.1,0.0,0.1,0.135,5.5,-2.0,3.5,0.0
2,31138,2024,4219,Aaron Gordon,NaN,PF,28.0,10,NBA,DEN,...,10.1,17.9,0.3,0.2,0.5,0.189,0.8,1.2,2.0,0.1
3,31139,2024,4582,Aaron Holiday,NaN,PG,27.0,6,NBA,HOU,...,0.0,26.5,-0.1,0.0,-0.1,-0.702,-21.4,-12.7,-34.1,0.0
4,31140,2024,4805,Aaron Nesmith,NaN,SF,24.0,4,NBA,IND,...,3.5,14.6,0.3,0.1,0.3,0.188,1.3,-1.8,-0.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31545,200,1947,157,Walt Miller,NaN,F,31.0,1,BAA,PIT,...,NaN,NaN,0.3,-0.1,0.3,NaN,NaN,NaN,NaN,NaN
31546,201,1947,158,Warren Fenley,NaN,F,24.0,1,BAA,BOS,...,NaN,NaN,-0.4,0.3,-0.1,NaN,NaN,NaN,NaN,NaN
31547,202,1947,159,Wilbert Kautz,NaN,G-F,31.0,1,BAA,CHS,...,NaN,NaN,-0.7,1.5,0.8,NaN,NaN,NaN,NaN,NaN
31548,203,1947,160,Woody Grimshaw,NaN,G,27.0,1,BAA,PRO,...,NaN,NaN,0.6,0.0,0.6,NaN,NaN,NaN,NaN,NaN
31549,204,1947,161,Wyndol Gray,NaN,G-F,24.0,1,BAA,BOS,...,NaN,NaN,1.6,0.7,2.2,NaN,NaN,NaN,NaN,NaN

,Unnamed: 0,active_from,active_to,birth_date,college,height,name,position,url,weight,...,NCAA__3ptpg,NCAA_efgpct,NCAA_fgapg,NCAA_fgpct,NCAA_fgpg,NCAA_ft,NCAA_ftapg,NCAA_ftpg,NCAA_games,NCAA_ppg
0,0,1991,1995,"June 24, 1968",Duke University,6-10,Alaa Abdelnaby,F-C,/players/a/abdelal01.html,240.0,...,0.0,NaN,5.6,0.599,3.3,0.728,2.5,1.8,134.0,8.5
1,1,1969,1978,"April 7, 1946",Iowa State University,6-9,Zaid Abdul-Aziz,C-F,/players/a/abdulza01.html,235.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1970,1989,"April 16, 1947","University of California, Los Angeles",7-2,Kareem Abdul-Jabbar,C,/players/a/abdulka01.html,225.0,...,NaN,NaN,16.8,0.639,10.7,0.628,7.9,5.0,88.0,26.4
3,3,1991,2001,"March 9, 1969",Louisiana State University,6-1,Mahmoud Abdul-Rauf,G,/players/a/abdulma02.html,162.0,...,2.7,NaN,21.9,0.474,10.4,0.863,6.4,5.5,64.0,29.0
4,4,1998,2003,"November 3, 1974","University of Michigan, San Jose State University",6-6,Tariq Abdul-Wahad,F,/players/a/abdulta01.html,223.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4571,4571,2018,2018,"January 4, 1997",NaN,6-11,Ante Zizic,F-C,/players/z/zizican01.html,250.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4572,4572,1983,1983,"December 20, 1953",Kent State University,7-1,Jim Zoet,C,/players/z/zoetji01.html,240.0,...,NaN,NaN,2.9,0.476,1.4,0.429,1.0,0.4,63.0,3.2
4573,4573,1971,1971,"June 7, 1948",Duquesne University,6-1,Bill Zopf,G,/players/z/zopfbi01.html,170.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4574,4574,2017,2018,"March 18, 1997",NaN,7-1,Ivica Zubac,C,/players/z/zubaciv01.html,265.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4575,4575,1949,1949,"December 19, 1919",George Washington University,6-3,Matt Zunic,G-F,/players/z/zunicma01.html,195.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,...,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97
1,1,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,...,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97
2,2,George Lynch,VAN,26.0,203.20,103.418976,North Carolina,USA,1993,1,...,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97
3,3,George McCloud,LAL,30.0,203.20,102.058200,Florida State,USA,1989,1,...,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97
4,4,George Zidek,DEN,23.0,213.36,119.748288,UCLA,USA,1995,1,...,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12839,12839,Joel Embiid,PHI,29.0,213.36,127.005760,Kansas,Cameroon,2014,1,...,33.1,10.2,4.2,8.8,0.057,0.243,0.370,0.655,0.233,2022-23
12840,12840,John Butler Jr.,POR,20.0,213.36,86.182480,Florida State,USA,Undrafted,Undrafted,...,2.4,0.9,0.6,-16.1,0.012,0.065,0.102,0.411,0.066,2022-23
12841,12841,John Collins,ATL,25.0,205.74,102.511792,Wake Forest,USA,2017,1,...,13.1,6.5,1.2,-0.2,0.035,0.180,0.168,0.593,0.052,2022-23
12842,12842,Jericho Sims,NYK,24.0,208.28,113.398000,Texas,USA,2021,2,...,3.4,4.7,0.5,-6.7,0.117,0.175,0.074,0.780,0.044,2022-23
12843,12843,JaMychal Green,GSW,33.0,205.74,102.965384,Alabama,USA,Undrafted,Undrafted,...,6.4,3.6,0.9,-8.2,0.087,0.164,0.169,0.650,0.094,2022-23

In [ ]:
#filter so that only specific columns are used
player_df = player_df[['player_name', 'team_abbreviation', 'age', 'player_height','player_weight', 'college', 'country', 'draft_year','draft_round', 'gp', 'pts', 'reb', 'ast']]

display(player_df)

In [ ]:
#Cleaning data
#drop missing values by deleting the column because it exists in another dataset
player_df = player_df.drop("college", axis=1)

In [ ]:
#remove duplicates
duplicated = player_df.drop_duplicates()

In [ ]:
#Filtering data
#subset the deateset into various dataframes

usa_players = player_df[(player_df['country'] == "USA")]
display(usa_players)

#filter to get players that have more than 20 points per game
high_scorers = player_df[(player_df['pts'] > 20)]
display(high_scorers)

In [ ]:
#Sorting data

#sort by decreasing order in age and increasing order by pts
age_pts_df = player_df.sort_values(by=['age','pts'], ascending=[False, True])
display(age_pts_df)
#sort by high scorers for average rebounds and assists
high_scorers_reb = high_scorers.sort_values(by=['reb', 'ast'], ascending = False)
display(high_scorers_reb)

In [15]:
#subsetting Advanced.csv to wanted columns
full_df = full_df[['season', 'player_id', 'player', 'pos', 'age', 'experience', 'lg', 'tm', 'g', 'mp', 'per']]
#Drop duplicates
full_df = full_df.drop_duplicates()

display(full_df)

,season,player_id,player,pos,age,experience,lg,tm,g,mp,per
0,2024,5025,A.J. Green,SG,24.0,2,NBA,MIL,2,21.0,7.9
1,2024,5027,AJ Griffin,SF,20.0,2,NBA,ATL,4,34.0,17.6
2,2024,4219,Aaron Gordon,PF,28.0,10,NBA,DEN,4,122.0,19.3
3,2024,4582,Aaron Holiday,PG,27.0,6,NBA,HOU,1,5.0,-23.5
4,2024,4805,Aaron Nesmith,SF,24.0,4,NBA,IND,3,80.0,16.7
...,...,...,...,...,...,...,...,...,...,...,...
31545,1947,157,Walt Miller,F,31.0,1,BAA,PIT,12,NaN,NaN
31546,1947,158,Warren Fenley,F,24.0,1,BAA,BOS,33,NaN,NaN
31547,1947,159,Wilbert Kautz,G-F,31.0,1,BAA,CHS,50,NaN,NaN
31548,1947,160,Woody Grimshaw,G,27.0,1,BAA,PRO,21,NaN,NaN
31549,1947,161,Wyndol Gray,G-F,24.0,1,BAA,BOS,55,NaN,NaN

In [5]:
#subset for only nba league players
nba_players = full_df[(full_df['lg'] == 'NBA')]
display(nba_players)

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,tov_percent,usg_percent,ows,dws,ws,ws_48,obpm,dbpm,bpm,vorp
0,31136,2024,5025,A.J. Green,NaN,SG,24.0,2,NBA,MIL,...,0.0,12.8,0.0,0.0,0.0,0.064,-3.2,-3.1,-6.3,0.0
1,31137,2024,5027,AJ Griffin,NaN,SF,20.0,2,NBA,ATL,...,16.7,14.8,0.1,0.0,0.1,0.135,5.5,-2.0,3.5,0.0
2,31138,2024,4219,Aaron Gordon,NaN,PF,28.0,10,NBA,DEN,...,10.1,17.9,0.3,0.2,0.5,0.189,0.8,1.2,2.0,0.1
3,31139,2024,4582,Aaron Holiday,NaN,PG,27.0,6,NBA,HOU,...,0.0,26.5,-0.1,0.0,-0.1,-0.702,-21.4,-12.7,-34.1,0.0
4,31140,2024,4805,Aaron Nesmith,NaN,SF,24.0,4,NBA,IND,...,3.5,14.6,0.3,0.1,0.3,0.188,1.3,-1.8,-0.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30963,890,1950,414,Warren Perkins,NaN,G-F,27.0,1,NBA,TRI,...,NaN,NaN,-0.4,1.7,1.3,NaN,NaN,NaN,NaN,NaN
30964,891,1950,415,Wayne See,NaN,G,26.0,1,NBA,WAT,...,NaN,NaN,2.0,-0.4,1.6,NaN,NaN,NaN,NaN,NaN
30965,892,1950,416,Whitey Von Nieda,NaN,G-F,27.0,1,NBA,TOT,...,NaN,NaN,1.1,1.2,2.3,NaN,NaN,NaN,NaN,NaN
30966,893,1950,416,Whitey Von Nieda,NaN,G-F,27.0,1,NBA,TRI,...,NaN,NaN,0.3,0.4,0.6,NaN,NaN,NaN,NaN,NaN
30967,894,1950,416,Whitey Von Nieda,NaN,G-F,27.0,1,NBA,BLB,...,NaN,NaN,0.9,0.8,1.7,NaN,NaN,NaN,NaN,NaN

In [18]:
#sort full_df by age in ascending order 
full_df = full_df.sort_values(by=['age'], ascending=[True])
display(full_df)

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,tov_percent,usg_percent,ows,dws,ws,ws_48,obpm,dbpm,bpm,vorp
12574,19068,2004,3467,Maciej Lampe,NaN,C,18.0,1,NBA,PHO,...,13.8,21.9,0.0,0.1,0.1,0.029,-2.8,-2.0,-4.8,-0.2
16224,15419,1997,3000,Kobe Bryant,NaN,SF,18.0,1,NBA,LAL,...,18.5,24.7,0.5,1.3,1.8,0.079,-0.2,0.1,-0.1,0.5
16169,15364,1997,2993,Jermaine O'Neal,NaN,PF,18.0,1,NBA,POR,...,12.6,21.1,0.1,0.7,0.8,0.087,-2.5,-0.9,-3.5,-0.2
14843,16213,1999,3101,Al Harrington,NaN,PF,18.0,1,NBA,IND,...,14.9,22.0,-0.3,0.1,-0.2,-0.049,-6.2,-2.8,-9.0,-0.3
24653,6503,1976,1626,Bill Willoughby,NaN,SF,18.0,1,NBA,ATL,...,NaN,NaN,0.1,1.0,1.1,0.063,-1.0,-0.8,-1.7,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28354,3410,1968,1031,Richie Moore,NaN,SG,NaN,1,ABA,DNR,...,22.4,19.6,-0.2,0.2,0.0,0.010,NaN,NaN,NaN,NaN
28426,3482,1968,1067,Willis Thomas,NaN,SG,NaN,1,ABA,TOT,...,13.7,24.0,0.8,0.7,1.5,0.066,NaN,NaN,NaN,NaN
28427,3483,1968,1067,Willis Thomas,NaN,SG,NaN,1,ABA,DNR,...,13.8,26.3,0.3,0.6,0.8,0.075,NaN,NaN,NaN,NaN
28428,3484,1968,1067,Willis Thomas,NaN,SG,NaN,1,ABA,ANA,...,13.7,21.7,0.5,0.1,0.6,0.058,NaN,NaN,NaN,NaN
31452,107,1947,89,Howie McCarty,NaN,F-G,NaN,1,BAA,DTF,...,NaN,NaN,-1.5,0.4,-1.1,NaN,NaN,NaN,NaN,NaN

In [20]:
#Merging data
combined_df = pd.merge(full_df, player_df, on = 'age', how = 'inner')
#Drop birth_year column
combined_df = combined_df.drop(['birth_year'], axis = 1)
display(combined_df)

,seas_id,season_x,player_id,player,pos,age,experience,lg,tm,g,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season_y
0,19068,2004,3467,Maciej Lampe,C,18.0,1,NBA,PHO,21,...,4.1,2.8,0.2,1.3,0.099,0.198,0.199,0.494,0.030,1996-97
1,19068,2004,3467,Maciej Lampe,C,18.0,1,NBA,PHO,21,...,7.6,1.9,1.3,2.2,0.048,0.084,0.244,0.544,0.144,1996-97
2,19068,2004,3467,Maciej Lampe,C,18.0,1,NBA,PHO,21,...,1.6,1.7,0.2,-4.0,0.110,0.154,0.152,0.394,0.044,2005-06
3,15419,1997,3000,Kobe Bryant,SF,18.0,1,NBA,LAL,71,...,4.1,2.8,0.2,1.3,0.099,0.198,0.199,0.494,0.030,1996-97
4,15419,1997,3000,Kobe Bryant,SF,18.0,1,NBA,LAL,71,...,7.6,1.9,1.3,2.2,0.048,0.084,0.244,0.544,0.144,1996-97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29123743,28914,2020,3166,Vince Carter,PF,43.0,22,NBA,ATL,60,...,3.7,2.1,0.5,14.9,0.114,0.130,0.201,0.514,0.082,1996-97
29123744,28914,2020,3166,Vince Carter,PF,43.0,22,NBA,ATL,60,...,1.8,3.7,0.0,1.8,0.152,0.241,0.111,0.472,0.000,2008-09
29123745,28914,2020,3166,Vince Carter,PF,43.0,22,NBA,ATL,60,...,5.0,2.1,0.8,-8.1,0.019,0.114,0.163,0.470,0.081,2019-20
29123746,28914,2020,3166,Vince Carter,PF,43.0,22,NBA,ATL,60,...,3.9,1.6,0.0,-11.8,0.047,0.101,0.185,0.433,0.000,2022-23
29123747,20745,2007,2187,Kevin Willis,PF,44.0,21,NBA,DAL,5,...,2.4,1.6,0.2,11.9,0.063,0.222,0.184,0.432,0.034,2006-07

In [ ]:
#Visualizing data(5 types of visualizations)