In [2]:
#Initialization
import pandas as pd 
import matplotlib.pyplot as plt


#Read Advanced.csv
full_df = pd.read_csv('Advanced.csv', sep = ',')
college_df = pd.read_csv('nba_college.csv', sep=',')
player_df = pd.read_csv('all_seasons.csv', sep=',')

#lg is league
#tm is team
#pos is position
display(full_df)
display(college_df)
display(player_df)

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,tov_percent,usg_percent,ows,dws,ws,ws_48,obpm,dbpm,bpm,vorp
0,31136,2024,5025,A.J. Green,NaN,SG,24.0,2,NBA,MIL,...,0.0,12.8,0.0,0.0,0.0,0.064,-3.2,-3.1,-6.3,0.0
1,31137,2024,5027,AJ Griffin,NaN,SF,20.0,2,NBA,ATL,...,16.7,14.8,0.1,0.0,0.1,0.135,5.5,-2.0,3.5,0.0
2,31138,2024,4219,Aaron Gordon,NaN,PF,28.0,10,NBA,DEN,...,10.1,17.9,0.3,0.2,0.5,0.189,0.8,1.2,2.0,0.1
3,31139,2024,4582,Aaron Holiday,NaN,PG,27.0,6,NBA,HOU,...,0.0,26.5,-0.1,0.0,-0.1,-0.702,-21.4,-12.7,-34.1,0.0
4,31140,2024,4805,Aaron Nesmith,NaN,SF,24.0,4,NBA,IND,...,3.5,14.6,0.3,0.1,0.3,0.188,1.3,-1.8,-0.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31545,200,1947,157,Walt Miller,NaN,F,31.0,1,BAA,PIT,...,NaN,NaN,0.3,-0.1,0.3,NaN,NaN,NaN,NaN,NaN
31546,201,1947,158,Warren Fenley,NaN,F,24.0,1,BAA,BOS,...,NaN,NaN,-0.4,0.3,-0.1,NaN,NaN,NaN,NaN,NaN
31547,202,1947,159,Wilbert Kautz,NaN,G-F,31.0,1,BAA,CHS,...,NaN,NaN,-0.7,1.5,0.8,NaN,NaN,NaN,NaN,NaN
31548,203,1947,160,Woody Grimshaw,NaN,G,27.0,1,BAA,PRO,...,NaN,NaN,0.6,0.0,0.6,NaN,NaN,NaN,NaN,NaN
31549,204,1947,161,Wyndol Gray,NaN,G-F,24.0,1,BAA,BOS,...,NaN,NaN,1.6,0.7,2.2,NaN,NaN,NaN,NaN,NaN

,Unnamed: 0,active_from,active_to,birth_date,college,height,name,position,url,weight,...,NCAA__3ptpg,NCAA_efgpct,NCAA_fgapg,NCAA_fgpct,NCAA_fgpg,NCAA_ft,NCAA_ftapg,NCAA_ftpg,NCAA_games,NCAA_ppg
0,0,1991,1995,"June 24, 1968",Duke University,6-10,Alaa Abdelnaby,F-C,/players/a/abdelal01.html,240.0,...,0.0,NaN,5.6,0.599,3.3,0.728,2.5,1.8,134.0,8.5
1,1,1969,1978,"April 7, 1946",Iowa State University,6-9,Zaid Abdul-Aziz,C-F,/players/a/abdulza01.html,235.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1970,1989,"April 16, 1947","University of California, Los Angeles",7-2,Kareem Abdul-Jabbar,C,/players/a/abdulka01.html,225.0,...,NaN,NaN,16.8,0.639,10.7,0.628,7.9,5.0,88.0,26.4
3,3,1991,2001,"March 9, 1969",Louisiana State University,6-1,Mahmoud Abdul-Rauf,G,/players/a/abdulma02.html,162.0,...,2.7,NaN,21.9,0.474,10.4,0.863,6.4,5.5,64.0,29.0
4,4,1998,2003,"November 3, 1974","University of Michigan, San Jose State University",6-6,Tariq Abdul-Wahad,F,/players/a/abdulta01.html,223.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4571,4571,2018,2018,"January 4, 1997",NaN,6-11,Ante Zizic,F-C,/players/z/zizican01.html,250.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4572,4572,1983,1983,"December 20, 1953",Kent State University,7-1,Jim Zoet,C,/players/z/zoetji01.html,240.0,...,NaN,NaN,2.9,0.476,1.4,0.429,1.0,0.4,63.0,3.2
4573,4573,1971,1971,"June 7, 1948",Duquesne University,6-1,Bill Zopf,G,/players/z/zopfbi01.html,170.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4574,4574,2017,2018,"March 18, 1997",NaN,7-1,Ivica Zubac,C,/players/z/zubaciv01.html,265.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4575,4575,1949,1949,"December 19, 1919",George Washington University,6-3,Matt Zunic,G-F,/players/z/zunicma01.html,195.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,...,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97
1,1,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,...,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97
2,2,George Lynch,VAN,26.0,203.20,103.418976,North Carolina,USA,1993,1,...,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97
3,3,George McCloud,LAL,30.0,203.20,102.058200,Florida State,USA,1989,1,...,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97
4,4,George Zidek,DEN,23.0,213.36,119.748288,UCLA,USA,1995,1,...,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12839,12839,Joel Embiid,PHI,29.0,213.36,127.005760,Kansas,Cameroon,2014,1,...,33.1,10.2,4.2,8.8,0.057,0.243,0.370,0.655,0.233,2022-23
12840,12840,John Butler Jr.,POR,20.0,213.36,86.182480,Florida State,USA,Undrafted,Undrafted,...,2.4,0.9,0.6,-16.1,0.012,0.065,0.102,0.411,0.066,2022-23
12841,12841,John Collins,ATL,25.0,205.74,102.511792,Wake Forest,USA,2017,1,...,13.1,6.5,1.2,-0.2,0.035,0.180,0.168,0.593,0.052,2022-23
12842,12842,Jericho Sims,NYK,24.0,208.28,113.398000,Texas,USA,2021,2,...,3.4,4.7,0.5,-6.7,0.117,0.175,0.074,0.780,0.044,2022-23
12843,12843,JaMychal Green,GSW,33.0,205.74,102.965384,Alabama,USA,Undrafted,Undrafted,...,6.4,3.6,0.9,-8.2,0.087,0.164,0.169,0.650,0.094,2022-23

In [18]:
#filter so that only specific columns are used
player_df = player_df[['player_name', 'team_abbreviation', 'age', 'player_height','player_weight', 'college', 'country', 'draft_year','draft_round', 'gp', 'pts', 'reb', 'ast']]
player_df.rename(columns = {'player_name': 'player'}, inplace = True)
display(player_df)

,player,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,gp,pts,reb,ast
0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,64,3.9,1.5,2.4
1,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,4,3.8,1.3,0.3
2,George Lynch,VAN,26.0,203.20,103.418976,North Carolina,USA,1993,1,41,8.3,6.4,1.9
3,George McCloud,LAL,30.0,203.20,102.058200,Florida State,USA,1989,1,64,10.2,2.8,1.7
4,George Zidek,DEN,23.0,213.36,119.748288,UCLA,USA,1995,1,52,2.8,1.7,0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12839,Joel Embiid,PHI,29.0,213.36,127.005760,Kansas,Cameroon,2014,1,66,33.1,10.2,4.2
12840,John Butler Jr.,POR,20.0,213.36,86.182480,Florida State,USA,Undrafted,Undrafted,19,2.4,0.9,0.6
12841,John Collins,ATL,25.0,205.74,102.511792,Wake Forest,USA,2017,1,71,13.1,6.5,1.2
12842,Jericho Sims,NYK,24.0,208.28,113.398000,Texas,USA,2021,2,52,3.4,4.7,0.5
12843,JaMychal Green,GSW,33.0,205.74,102.965384,Alabama,USA,Undrafted,Undrafted,57,6.4,3.6,0.9

In [19]:
#Cleaning data
#drop missing values by deleting the column because it exists in another dataset
player_df = player_df.drop("college", axis=1)

In [20]:
#remove duplicates
duplicated = player_df.drop_duplicates()

In [21]:
#Filtering data
#subset the deateset into various dataframes

usa_players = player_df[(player_df['country'] == "USA")]
display(usa_players)

#filter to get players that have more than 20 points per game
high_scorers = player_df[(player_df['pts'] > 20)]
display(high_scorers)

,player,team_abbreviation,age,player_height,player_weight,country,draft_year,draft_round,gp,pts,reb,ast
0,Randy Livingston,HOU,22.0,193.04,94.800728,USA,1996,2,64,3.9,1.5,2.4
1,Gaylon Nickerson,WAS,28.0,190.50,86.182480,USA,1994,2,4,3.8,1.3,0.3
2,George Lynch,VAN,26.0,203.20,103.418976,USA,1993,1,41,8.3,6.4,1.9
3,George McCloud,LAL,30.0,203.20,102.058200,USA,1989,1,64,10.2,2.8,1.7
4,George Zidek,DEN,23.0,213.36,119.748288,USA,1995,1,52,2.8,1.7,0.3
...,...,...,...,...,...,...,...,...,...,...,...,...
12838,Joe Wieskamp,TOR,23.0,198.12,92.986360,USA,2021,2,9,1.0,0.4,0.3
12840,John Butler Jr.,POR,20.0,213.36,86.182480,USA,Undrafted,Undrafted,19,2.4,0.9,0.6
12841,John Collins,ATL,25.0,205.74,102.511792,USA,2017,1,71,13.1,6.5,1.2
12842,Jericho Sims,NYK,24.0,208.28,113.398000,USA,2021,2,52,3.4,4.7,0.5
12843,JaMychal Green,GSW,33.0,205.74,102.965384,USA,Undrafted,Undrafted,57,6.4,3.6,0.9

,player,team_abbreviation,age,player_height,player_weight,country,draft_year,draft_round,gp,pts,reb,ast
7,Glen Rice,CHH,30.0,203.20,99.790240,USA,1989,1,79,26.8,4.0,2.0
8,Glenn Robinson,MIL,24.0,200.66,106.594120,USA,1994,1,80,21.1,6.3,3.1
9,Grant Hill,DET,24.0,203.20,102.058200,USA,1994,1,80,21.4,9.0,7.3
18,Hakeem Olajuwon,HOU,34.0,213.36,115.665960,Nigeria,1984,1,78,23.2,9.2,3.0
22,Gary Payton,SEA,28.0,193.04,86.182480,USA,1990,1,82,21.8,4.6,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...
12822,Jaylen Brown,BOS,26.0,198.12,101.151016,USA,2016,1,67,26.6,6.9,3.5
12825,Jayson Tatum,BOS,25.0,203.20,95.254320,USA,2017,1,74,30.1,8.8,4.6
12829,Jerami Grant,POR,29.0,203.20,95.254320,USA,2014,2,63,20.5,4.5,2.4
12834,Jimmy Butler,MIA,33.0,200.66,104.326160,USA,2011,1,64,22.9,5.9,5.3
12839,Joel Embiid,PHI,29.0,213.36,127.005760,Cameroon,2014,1,66,33.1,10.2,4.2

In [22]:
#Sorting data

#sort by decreasing order in age and increasing order by pts
age_pts_df = player_df.sort_values(by=['age','pts'], ascending=[False, True])
display(age_pts_df)
#sort by high scorers for average rebounds and assists
high_scorers_reb = high_scorers.sort_values(by=['reb', 'ast'], ascending = False)
display(high_scorers_reb)

,player,team_abbreviation,age,player_height,player_weight,country,draft_year,draft_round,gp,pts,reb,ast
4844,Kevin Willis,DAL,44.0,213.36,111.130040,USA,1984,1,5,2.4,1.6,0.2
5436,Dikembe Mutombo,HOU,43.0,218.44,117.933920,Congo,1991,1,9,1.8,3.7,0.0
230,Robert Parish,CHI,43.0,215.90,110.676448,USA,1976,1,43,3.7,2.1,0.5
12390,Udonis Haslem,MIA,43.0,200.66,106.594120,USA,Undrafted,Undrafted,7,3.9,1.6,0.0
11032,Vince Carter,ATL,43.0,198.12,99.790240,USA,1998,1,60,5.0,2.1,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...
3448,LeBron James,CLE,19.0,203.20,108.862080,USA,2003,1,79,20.9,5.5,5.9
11029,Zion Williamson,NOP,19.0,198.12,128.820128,USA,2019,1,24,22.5,6.3,2.1
4333,Andrew Bynum,LAL,18.0,213.36,124.737800,USA,2005,1,46,1.6,1.7,0.2
72,Jermaine O'Neal,POR,18.0,210.82,102.511792,USA,1996,1,45,4.1,2.8,0.2
334,Kobe Bryant,LAL,18.0,200.66,90.718400,USA,1996,1,71,7.6,1.9,1.3

,player,team_abbreviation,age,player_height,player_weight,country,draft_year,draft_round,gp,pts,reb,ast
6292,Kevin Love,MIN,22.0,208.28,117.933920,USA,2008,1,73,20.2,15.2,2.5
6904,Dwight Howard,ORL,26.0,210.82,120.201880,USA,2004,1,54,20.6,14.5,1.9
4918,Dwight Howard,ORL,22.0,210.82,120.201880,USA,2004,1,82,20.7,14.2,1.3
6392,Dwight Howard,ORL,25.0,210.82,120.201880,USA,2004,1,78,22.9,14.1,1.4
3434,Kevin Garnett,MIN,28.0,210.82,108.862080,USA,1995,1,82,24.2,13.9,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9537,Isaiah Thomas,BOS,28.0,175.26,83.914520,USA,2011,2,76,28.9,2.7,5.9
12807,Jordan Poole,GSW,24.0,193.04,87.996848,USA,2019,1,82,20.4,2.7,4.5
4987,Jamal Crawford,NYK,28.0,195.58,90.718400,USA,2000,1,80,20.6,2.6,5.0
12586,Anfernee Simons,POR,24.0,190.50,82.100152,USA,2018,1,62,21.1,2.6,4.1
9667,Lou Williams,LAC,31.0,185.42,79.378600,USA,2005,2,79,22.6,2.5,5.3

In [23]:
#subsetting Advanced.csv to wanted columns
full_df = full_df[['season', 'player_id', 'player', 'pos', 'age', 'experience', 'lg', 'tm', 'g', 'mp', 'per']]
#Drop duplicates
full_df = full_df.drop_duplicates()

display(full_df)

,season,player_id,player,pos,age,experience,lg,tm,g,mp,per
11105,2006,3570,Amir Johnson,SF,18.0,1,NBA,DET,3,39.0,20.3
11116,2006,3574,Andrew Bynum,C,18.0,1,NBA,LAL,46,338.0,7.4
11167,2006,3582,C.J. Miles,PG,18.0,1,NBA,UTA,23,203.0,13.8
11640,2006,3650,Yaroslav Korolev,SF,18.0,1,NBA,LAC,24,127.0,4.8
11677,2005,3502,Andris Biedriņš,C,18.0,1,NBA,GSW,30,384.0,14.8
...,...,...,...,...,...,...,...,...,...,...,...
28354,1968,1031,Richie Moore,SG,NaN,1,ABA,DNR,18,211.0,3.0
28426,1968,1067,Willis Thomas,SG,NaN,1,ABA,TOT,62,1067.0,12.3
28427,1968,1067,Willis Thomas,SG,NaN,1,ABA,DNR,24,542.0,13.2
28428,1968,1067,Willis Thomas,SG,NaN,1,ABA,ANA,38,525.0,11.3
31452,1947,89,Howie McCarty,F-G,NaN,1,BAA,DTF,19,NaN,NaN

In [24]:
#subset for only nba league players
nba_players = full_df[(full_df['lg'] == 'NBA')]
display(nba_players)

,season,player_id,player,pos,age,experience,lg,tm,g,mp,per
11105,2006,3570,Amir Johnson,SF,18.0,1,NBA,DET,3,39.0,20.3
11116,2006,3574,Andrew Bynum,C,18.0,1,NBA,LAL,46,338.0,7.4
11167,2006,3582,C.J. Miles,PG,18.0,1,NBA,UTA,23,203.0,13.8
11640,2006,3650,Yaroslav Korolev,SF,18.0,1,NBA,LAC,24,127.0,4.8
11677,2005,3502,Andris Biedriņš,C,18.0,1,NBA,GSW,30,384.0,14.8
...,...,...,...,...,...,...,...,...,...,...,...
11971,2005,2187,Kevin Willis,C,42.0,20,NBA,ATL,29,344.0,8.0
16893,1996,1723,Robert Parish,C,42.0,20,NBA,CHH,74,1086.0,13.0
3234,2020,3166,Vince Carter,PF,43.0,22,NBA,ATL,60,876.0,7.5
16350,1997,1723,Robert Parish,C,43.0,21,NBA,CHI,43,406.0,14.3
10854,2007,2187,Kevin Willis,PF,44.0,21,NBA,DAL,5,43.0,6.3

In [25]:
#sort full_df by age in ascending order
#sort by season in descending order
full_df = full_df.sort_values(by=['age','season','experience'], ascending=[True,False,False])
display(full_df)

,season,player_id,player,pos,age,experience,lg,tm,g,mp,per
11105,2006,3570,Amir Johnson,SF,18.0,1,NBA,DET,3,39.0,20.3
11116,2006,3574,Andrew Bynum,C,18.0,1,NBA,LAL,46,338.0,7.4
11167,2006,3582,C.J. Miles,PG,18.0,1,NBA,UTA,23,203.0,13.8
11640,2006,3650,Yaroslav Korolev,SF,18.0,1,NBA,LAC,24,127.0,4.8
11677,2005,3502,Andris Biedriņš,C,18.0,1,NBA,GSW,30,384.0,14.8
...,...,...,...,...,...,...,...,...,...,...,...
28354,1968,1031,Richie Moore,SG,NaN,1,ABA,DNR,18,211.0,3.0
28426,1968,1067,Willis Thomas,SG,NaN,1,ABA,TOT,62,1067.0,12.3
28427,1968,1067,Willis Thomas,SG,NaN,1,ABA,DNR,24,542.0,13.2
28428,1968,1067,Willis Thomas,SG,NaN,1,ABA,ANA,38,525.0,11.3
31452,1947,89,Howie McCarty,F-G,NaN,1,BAA,DTF,19,NaN,NaN

First sort is sorted in ascending order by age
Second sort is sorted in descending order by season
Third sort is sorted in descending order by experience(years)

In [27]:
#Merging data
combined_df = pd.merge(full_df, player_df, on = 'player', how = 'right')

display(combined_df)

,season,player_id,player,pos,age_x,experience,lg,tm,g,mp,...,age_y,player_height,player_weight,country,draft_year,draft_round,gp,pts,reb,ast
0,1997.0,3015.0,Randy Livingston,PG,21.0,1.0,NBA,HOU,64.0,981.0,...,22.0,193.04,94.800728,USA,1996,2,64,3.9,1.5,2.4
1,1998.0,3015.0,Randy Livingston,PG,22.0,2.0,NBA,ATL,12.0,82.0,...,22.0,193.04,94.800728,USA,1996,2,64,3.9,1.5,2.4
2,1999.0,3015.0,Randy Livingston,PG,23.0,3.0,NBA,PHO,1.0,22.0,...,22.0,193.04,94.800728,USA,1996,2,64,3.9,1.5,2.4
3,2000.0,3015.0,Randy Livingston,PG,24.0,4.0,NBA,PHO,79.0,1081.0,...,22.0,193.04,94.800728,USA,1996,2,64,3.9,1.5,2.4
4,2001.0,3015.0,Randy Livingston,PG,25.0,5.0,NBA,GSW,2.0,7.0,...,22.0,193.04,94.800728,USA,1996,2,64,3.9,1.5,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141572,2019.0,4255.0,JaMychal Green,PF,28.0,5.0,NBA,LAC,24.0,471.0,...,33.0,205.74,102.965384,USA,Undrafted,Undrafted,57,6.4,3.6,0.9
141573,2020.0,4255.0,JaMychal Green,PF,29.0,6.0,NBA,LAC,63.0,1307.0,...,33.0,205.74,102.965384,USA,Undrafted,Undrafted,57,6.4,3.6,0.9
141574,2021.0,4255.0,JaMychal Green,PF,30.0,7.0,NBA,DEN,58.0,1120.0,...,33.0,205.74,102.965384,USA,Undrafted,Undrafted,57,6.4,3.6,0.9
141575,2022.0,4255.0,JaMychal Green,PF,31.0,8.0,NBA,DEN,67.0,1085.0,...,33.0,205.74,102.965384,USA,Undrafted,Undrafted,57,6.4,3.6,0.9
141576,2023.0,4255.0,JaMychal Green,PF,32.0,9.0,NBA,GSW,57.0,797.0,...,33.0,205.74,102.965384,USA,Undrafted,Undrafted,57,6.4,3.6,0.9

In [ ]:
#Visualizing data(5 types of visualizations)